h1{
    font-family: "Helvetica Neue";
    font-size: 38px;
    font-style: normal;
    color: #464646;
    margin: 0px;
    padding: 0px;
}

h2{
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-style: normal;
    color: #464646;
    margin: 0px;
    padding: 0px;
}

h3{
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    color: #464646;
    margin: 0px;
    padding: 0px;
}

p{
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    color: #464646;
}

button{
    display: inline-block;
    padding: 13px 25px;
    color: white; 
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3962d3;
    width: fit-content;
    text-align: center;
}
